In [ ]:
# Load the dataset in Pandas.
# Display first 15 rows, data types, and dataset shape.
# Identify unique cities and count of students per city.
# Filter and display students with Total_Marks greater than or equal to 400.
# Extract details of all female students and their scores.
# Find the average Total_Marks grouped by Gender.
# Group students by City and compute the average Total_Marks and the total count per city.
# Sort all students by Total_Marks in descending order.
# Reset the index of the sorted DataFrame.
# Detect missing Total_Marks values (simulate by setting ~10% missing).
# Impute missing Total_Marks with the mean of the column.
# Create a new column Result where students scoring >= 200 are marked as 'Pass', otherwise 'Fail'.
# Count how many students failed and passed overall.
# Save the cleaned and modified DataFrame to a new CSV named students_cleaned.csv

In [21]:
!pip install pandas

!pip install openpyxl

Requirement already satisfied: pandas in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (from pandas) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [25]:
# 1.

import pandas as pd

file_path = "C:/Users/XNovaQ.24/Downloads/students_assignment_data.xlsx"
df = pd.read_excel(file_path)

print(df)

      StudentID             Name  Age Gender  Total_Marks       City
0          1001  Timothy Mendoza   14      M        365.0      Delhi
1          1002   Taylor Jackson   14      F        327.0      Delhi
2          1003   Erica Lawrence   13      F        343.0  Bangalore
3          1004    Rachel Murray   15      M        289.0    Kolkata
4          1005      Jesse Horne   17      M        356.0  Bangalore
...         ...              ...  ...    ...          ...        ...
1495       2496      Mark Horton   18      F        296.0    Kolkata
1496       2497    Lisa Johnston   14      F        223.0  Bangalore
1497       2498  Denise Campbell   16      M        258.0     Mumbai
1498       2499    Angel Sanders   18      M        240.0    Chennai
1499       2500  Virginia Warren   13      F        187.0    Chennai

[1500 rows x 6 columns]

In [31]:
# 2.

print(df.head(15))

print(df.dtypes)

print(df.shape)

    StudentID                Name  Age Gender  Total_Marks       City
0        1001     Timothy Mendoza   14      M        365.0      Delhi
1        1002      Taylor Jackson   14      F        327.0      Delhi
2        1003      Erica Lawrence   13      F        343.0  Bangalore
3        1004       Rachel Murray   15      M        289.0    Kolkata
4        1005         Jesse Horne   17      M        356.0  Bangalore
5        1006      Priscilla Cook   18      F        411.0     Mumbai
6        1007     James Jefferson   16      M        357.0    Kolkata
7        1008     Cynthia Leonard   18      M        263.0    Chennai
8        1009        Audrey Allen   13      F        285.0      Delhi
9        1010    Jeffrey Campbell   18      M        315.0  Bangalore
10       1011      Ryan Jefferson   15      M        284.0      Delhi
11       1012    Christina Wilson   18      M        350.0      Delhi
12       1013    Brittany Sanchez   17      F        342.0    Chennai
13       1014  Christopher Wagner   16      F        240.0    Chennai
14       1015          Kyle Blake   15      M        341.0      Delhi
StudentID        int64
Name            object
Age              int64
Gender          object
Total_Marks    float64
City            object
dtype: object
(1500, 6)

In [59]:
# 3.

print("\n Unique Cities")
print(df['City'].unique())

print("\n Students per City")
print(df['City'].value_counts())

 Unique Cities
['Delhi' 'Bangalore' 'Kolkata' 'Mumbai' 'Chennai']

 Students per City
City
Delhi        336
Kolkata      305
Mumbai       302
Bangalore    287
Chennai      270
Name: count, dtype: int64

In [58]:
# 4. 

high_scorers = df[df['Total_Marks'] >= 400]
print("\n Students with Total_Marks >= 400 \n")
print(high_scorers)

 Students with Total_Marks >= 400

      StudentID            Name  Age Gender  Total_Marks       City
5          1006  Priscilla Cook   18      F        411.0     Mumbai
26         1027   Julian Martin   18      F        458.0  Bangalore
64         1065   Scott Collins   18      M        404.0    Chennai
65         1066      Jose Craig   18      F        401.0    Kolkata
72         1073     Travis Soto   14      M        486.0    Kolkata
...         ...             ...  ...    ...          ...        ...
1466       2467   Carrie George   16      F        433.0     Mumbai
1473       2474    Carlos Moore   16      M        406.0      Delhi
1480       2481    Leslie Smith   18      M        405.0  Bangalore
1484       2485  Melody Delgado   16      F        465.0      Delhi
1492       2493     Brian Pitts   14      M        424.0    Chennai

[132 rows x 6 columns]

In [56]:
# 5. 

female_students = df[df['Gender'] == 'Female']
print("\n Female Students")
print(female_students)

 Female Students
Empty DataFrame
Columns: [StudentID, Name, Age, Gender, Total_Marks, City]
Index: []

In [55]:
# 6.

avg_gender = df.groupby('Gender')['Total_Marks'].mean()
print("\n Average Marks by Gender")
print(avg_gender)

 Average Marks by Gender
Gender
F    296.706920
M    303.449868
Name: Total_Marks, dtype: float64

In [54]:
# 7.

city_group = df.groupby('City').agg(
    Avg_Marks=('Total_Marks', 'mean'),
    Count=('StudentID', 'count')
)

print("\n City-wise Avg Marks & Count \n")
print(city_group)

 City-wise Avg Marks & Count

            Avg_Marks  Count
City
Bangalore  301.895105    287
Chennai    304.613383    270
Delhi      299.372024    336
Kolkata    296.158416    305
Mumbai     299.269103    302

In [53]:
# 8. 

sorted_df = df.sort_values(by='Total_Marks', ascending=False).reset_index(drop=True)

print("\n Sorted by Total_Marks (Top 10) \n")
print(sorted_df.head(10))

 Sorted by Total_Marks (Top 10)

   StudentID                Name  Age Gender  Total_Marks       City
0       1401         Ronald Lang   18      M        500.0    Chennai
1       2344       Hannah Obrien   16      F        500.0  Bangalore
2       2209      Nicole Cameron   18      M        500.0     Mumbai
3       2107     Joseph Williams   16      F        497.0    Kolkata
4       1438    Ashley Hernandez   17      M        489.0    Chennai
5       1527        Wendy Fuller   13      M        488.0    Kolkata
6       1931       Cindy Jenkins   17      M        486.0      Delhi
7       1073         Travis Soto   14      M        486.0    Kolkata
8       1436  Stephanie Williams   16      M        486.0      Delhi
9       1891   Brittany Crawford   13      F        479.0    Chennai

In [52]:
# 9. 
!pip install numpy
import numpy as np

df_missing = df.copy()
num_missing = int(0.10 * len(df_missing))

np.random.seed(42)   # Keep it reproducible
missing_indices = np.random.choice(df_missing.index, num_missing, replace=False)
df_missing.loc[missing_indices, 'Total_Marks'] = np.nan

print("\n Missing Values Introduced ")
print(df_missing['Total_Marks'].isna().sum())

Requirement already satisfied: numpy in c:\users\xnovaq.24\documents\data-science\data-science\dsenv\lib\site-packages (2.3.5)

 Missing Values Introduced
155

In [51]:
# 10. 

mean_marks = df_missing['Total_Marks'].mean()
df_missing['Total_Marks'] = df_missing['Total_Marks'].fillna(mean_marks)

print("\n Missing Values After Imputation ")
print(df_missing['Total_Marks'].isna().sum())

 Missing Values After Imputation
0

In [49]:
# 11.

df_missing['Result'] = df_missing['Total_Marks'].apply(
    lambda x: 'Pass' if x >= 200 else 'Fail'
)

print("\n Result Column Added \n")
print(df_missing[['StudentID', 'Total_Marks', 'Result']].head())

 Result Column Added

   StudentID  Total_Marks Result
0       1001        365.0   Pass
1       1002        327.0   Pass
2       1003        343.0   Pass
3       1004        289.0   Pass
4       1005        356.0   Pass

In [48]:
# 12.

print("\n Pass/Fail Count \n")
print(df_missing['Result'].value_counts())

 Pass/Fail Count

Result
Pass    1392
Fail     108
Name: count, dtype: int64

In [46]:
# 13.

df_missing.to_csv ("students_cleaned.csv", index=False)

print("\nFile saved as: students_cleaned.csv")

File saved as: students_cleaned.csv